{{ template "chrome/header.html" . }}
          <h1>{{ .Title }}</h1>
          {{- with .Content -}}
          {{ . | replaceRE "(<h[2-9] id=\"([^\"]+)\">)(.+</h[2-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor"> 🔗 </a> ${3}` | safeHTML }}
          {{- end -}}
          Posted {{ .Date.Format "Mon, Jan 2, 2006" }}<br />
          {{if ne .Lastmod .Date }}Updated {{ .Lastmod.Format "Mon, Jan 2, 2006" }} {{end}}

         <hr>

         <div id="mc_embed_signup">
            <form action="https://afoolishmanifesto.us18.list-manage.com/subscribe/post?u=2f7cf05edcf0abb3b87068c35&amp;id=84339ed4c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                   <h2>Receive Blog Posts in Your Email</h2>
                   <div class="mc-field-group">
                      <label for="mce-EMAIL">Email Address </label>
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                   </div>
                   <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                   </div>
                   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2f7cf05edcf0abb3b87068c35_84339ed4c7" tabindex="-1" value=""></div>
                   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
         </div>

         <hr>

          <div id="disqus_thread"></div>
          <div id="disqus_loader" style="text-align: center">
            <button style="width:100%" onclick="load_disqus()">Load Comments</button>
            <script>
              var disqus_loaded = false;
              function load_disqus() {
                  disqus_loaded = true;

                  var disqus_shortname = 'afoolishmanifesto';
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  var ldr = document.getElementById('disqus_loader');
                  ldr.parentNode.removeChild(ldr);
              }

              if (window.location.hash.match(/(?:disqus_thread|comment-\d+)/)) {
                  load_disqus();
              }

              window.onscroll = function(e) {
                  if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                      //hit bottom of page
                      if (disqus_loaded==false){ load_disqus() };
                  }
              };
            </script>
          </div>

{{ template "chrome/footer.html" . }}
