        </div>
      </div>
    </div>

    <div class="container">
      <hr>
      <footer id="footer">
            <p class="pull-right"><a href="#top">Back to top</a></p>
            <ul id="tags">
              {{ range .Params.tags }}
                <li><a href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
              {{ end }}
            </ul>
      </footer>
      </div>
      <script src="/static/js/jquery.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>

      <script>
        $(document).ready(function() {
            $("nav#TableOfContents a").click(function() {
                $("html, body").animate({
                    scrollTop: $($(this).attr("href")).offset().top-25 + "px"
                }, {
                    duration: 450,
                });
                return false;
            });
        });
    </script>
    {{ template "chrome/analytics.html" . }}

  </body>

</html>
