<!doctype html>
<html lang="en-US">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
{{- with .Title | default .Site.Title }}
    <title>{{ . }} - fREW Schmidt's Foolish Manifesto</title>
    <meta property="og:title" content="{{ . }}" />
    <meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{- end }}
{{- with .Description | default .Params.subtitle | default .Summary }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . | truncate 200 }}">
{{- end }}
    <meta name="author" content="{{ .Site.Author.name }}"/>
{{- with .Site.Params.favicon }}
    <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}
    <meta name="twitter:card" content="summary" />
{{- with .Site.Author.twitter }}
    <meta name="twitter:site" content="@{{ . }}" />
    <meta name="twitter:creator" content="@{{ . }}" />
{{- end }}
    <meta property="og:url" content="{{ .URL | absLangURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "chrome/includes.html" . }}
  </head>
  <body>

    {{ template "chrome/menu.html" . }}

    <div class="container" id="main">
      <div class="row">
        <div class="col-md-12">
