    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/js/foolish.js"></script>
    <link href="/static/css/fonts.css" rel="stylesheet"/>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        _paq.push(['setTrackerUrl',  'https://api-f70f78b53f2b4d103775e207c8cb3dfc.oasis.sandstorm.io']);
        _paq.push(['setSiteId', 1]);
        _paq.push(['setApiToken', 'YAFD-Rghm4RvlbhzwBwIC4G1o_lSI0c7kZQXCjE0_w4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://8e43env6j3l7f8kurg20.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
