body {
    background-color: #333;
    color: white;
    padding-top: 70px;
    letter-spacing: 0.3px;
    font-family: "Helvetica Neue", "Helvitica", "Serif";
    font-weight: 300;
}

p {
    margin: 0 0 2em;
}

#main.container {
    font-size: 21px;
    line-height: 175%;
}


h1, h2, h3 {
    padding-bottom: .3em;
    padding-top: 1.4em;
    margin-bottom: .7em;
}

h1, h2, h3, h4, h5, h6 {
    color: #A40;
    font-family: 'Cabin', "Helvetica Neue", "Helvitica", "Serif";
}

h1 {
    font-size: 46px;
    padding-top: .3em;
}

h1, h2 {
    border-bottom: 1px solid #444;
}

pre {
    background-color: #121212;
    color: #e6e6e6;
    font-size: 17px;
    line-height: 1.2;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    tab-size: 3;
    -moz-tab-size: 3;
}

code {
    background-color: #121212;
    color: #e6e6e6;
    tab-size: 3;
    -moz-tab-size: 3;
}

a {
    color: orange;
}

a:hover {
    color: #FF0;
}

#footer {
    margin-bottom: 2em;
}

#main.container p a {
    text-decoration: underline;
}

nav.navbar {
    border-top: 4px solid rgb(70, 70, 70);
    background: none repeat scroll 0% 0% rgb(30, 30, 30);
    color: orange;
    border-bottom: 1px solid grey;
    opacity: .97;
}

.navbar-nav a > i {
    font-size: 140%;
    line-height: 49%;
    vertical-align: -4px;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: orange !important;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 166, 188);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgb(15, 166, 188);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    outline: 0px none;
    background-color: rgb(15, 166, 188);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(15, 166, 188);
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white !important;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        background-color: rgb(15, 166, 188);
    }
}


.highlight {
    background-color: #fdfdfb !important;
}

#toc {
    float: right;
    margin-left: 1em;
    padding: 1em;
}

#TableOfContents > ul {
    margin-left: -1em;
    padding: 0;
}

#TableOfContents>ul>li {
   list-style: none outside none;
}

#TableOfContents > ul > li > a {
    padding-left: 1em;
}

.sigil {
   transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   transform: translateY(0) scale(1, 1);
}

.sigil:hover {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   transform: translateY(-2px) scale(1.2, 1.2);
   text-shadow: 0 0 0.2em rgba(255,255,0,1);
}

#main table{width:100%;margin-bottom:20px;}#main table thead>tr>th,#main table tbody>tr>th,#main table tfoot>tr>th,#main table thead>tr>td,#main table tbody>tr>td,#main table tfoot>tr>td{padding:8px;line-height:1.428571429;vertical-align:top;border-top:1px solid #dddddd;}
#main table thead>tr>th{vertical-align:bottom;border-bottom:2px solid #dddddd;}
#main table caption+thead tr:first-child th,#main table colgroup+thead tr:first-child th,#main table thead:first-child tr:first-child th,#main table caption+thead tr:first-child td,#main table colgroup+thead tr:first-child td,#main table thead:first-child tr:first-child td{border-top:0;}
#main table tbody+tbody{border-top:2px solid #dddddd;}
#main table #main table{background-color:#ffffff;}
#main table>thead>tr>td.active,#main table>tbody>tr>td.active,#main table>tfoot>tr>td.active,#main table>thead>tr>th.active,#main table>tbody>tr>th.active,#main table>tfoot>tr>th.active,#main table>thead>tr.active>td,#main table>tbody>tr.active>td,#main table>tfoot>tr.active>td,#main table>thead>tr.active>th,#main table>tbody>tr.active>th,#main table>tfoot>tr.active>th{background-color:#f5f5f5;}
#main table>thead>tr>td.success,#main table>tbody>tr>td.success,#main table>tfoot>tr>td.success,#main table>thead>tr>th.success,#main table>tbody>tr>th.success,#main table>tfoot>tr>th.success,#main table>thead>tr.success>td,#main table>tbody>tr.success>td,#main table>tfoot>tr.success>td,#main table>thead>tr.success>th,#main table>tbody>tr.success>th,#main table>tfoot>tr.success>th{background-color:#dff0d8;border-color:#d6e9c6;}
#main table>thead>tr>td.danger,#main table>tbody>tr>td.danger,#main table>tfoot>tr>td.danger,#main table>thead>tr>th.danger,#main table>tbody>tr>th.danger,#main table>tfoot>tr>th.danger,#main table>thead>tr.danger>td,#main table>tbody>tr.danger>td,#main table>tfoot>tr.danger>td,#main table>thead>tr.danger>th,#main table>tbody>tr.danger>th,#main table>tfoot>tr.danger>th{background-color:#f2dede;border-color:#eed3d7;}
#main table>thead>tr>td.warning,#main table>tbody>tr>td.warning,#main table>tfoot>tr>td.warning,#main table>thead>tr>th.warning,#main table>tbody>tr>th.warning,#main table>tfoot>tr>th.warning,#main table>thead>tr.warning>td,#main table>tbody>tr.warning>td,#main table>tfoot>tr.warning>td,#main table>thead>tr.warning>th,#main table>tbody>tr.warning>th,#main table>tfoot>tr.warning>th{background-color:#fcf8e3;border-color:#fbeed5;}
@media (max-width:768px){#main table{width:100%;margin-bottom:15px;overflow-y:hidden;overflow-x:scroll;border:1px solid #dddddd;}#main table>#main table{margin-bottom:0;background-color:#fff;}#main table>#main table>thead>tr>th,#main table>#main table>tbody>tr>th,#main table>#main table>tfoot>tr>th,#main table>#main table>thead>tr>td,#main table>#main table>tbody>tr>td,#main table>#main table>tfoot>tr>td{white-space:nowrap;} }fieldset{padding:0;margin:0;border:0;}
.pagination > li:first-child > a, .pagination > li:first-child > span{
   background-color: #222;
}

.pagination > li > a, .pagination > li > span { background-color: #222; }

#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border: 1px solid #ABB0B2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: normal; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}

#mc_embed_signup{background:#333; clear:left; font:14px Helvetica,Arial,sans-serif; }
