<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "chrome/includes.html" . }}
  </head>
  <body>

    {{ template "chrome/menu.html" . }}

    <div class="container" id="main">
       <div class="row">
          <div class="col-md-12">
             <section id="main">
                <div>
                   {{ range .Paginator.Pages }}
                      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                      {{ .Summary }}
                      <br /><br />
                      Posted {{ .Date.Format "Mon, Jan 2, 2006" }}
                      {{if ne .Lastmod .Date }}Updated {{ .Lastmod.Format "Mon, Jan 2, 2006" }} {{end}}
                   {{ end }}
                </div>
             </section>
          </div>
       </div>

       {{ template "_internal/pagination.html" . }}
    </div>

{{ template "chrome/footer.html" }}
